.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features {
    padding: 20rem;
    background-image: linear-gradient(to right bottom,
     rgba(126, 213, 111, 0.8), 
     rgba(40, 180, 133, 0.8)),
      url(../images/nat-1.png);
    background-size: cover;
    background-position: top;
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;

    & > * {
    transform: skewY(7deg);
    }
}